<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Apolis - Danh sách bài viết</title>
    <%-include('../../boostrap.ejs')%>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <%-include('../../navBar.ejs')%>
            <!-- /.navbar -->
            <!-- ------------------------------- Main Sidebar Container -----------------------------------------------------------   -->
            <!-- Main Sidebar Container -->
            <%-include('../sidebarMenu.ejs')%>
                <!-- ------------------------ Content Wrapper. Contains page content -----------------------------------------------------------   -->

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <div class="container-fluid">
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <img class="img-circle" src="../../public/dist/img/user1-128x128.jpg"
                                                alt="User Image">
                                            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                            <span class="description">Shared publicly - 7:30 PM Today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-check" style="color: rgb(24, 183, 24);"></i>
                                            </button>
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-times" style="color: rgb(225, 35, 35);"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="cursor: pointer;" style="cursor: pointer;">
                                        <p>I took this photo this morning. What do you guys think?</p>
                                        <img class="img-fluid pad" src="../../public/dist/img/photo2.png" alt="Photo">
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <img class="img-circle" src="../../public/dist/img/user1-128x128.jpg"
                                                alt="User Image">
                                            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                            <span class="description">Shared publicly - 7:30 PM Today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-check" style="color: rgb(24, 183, 24);"></i>
                                            </button>
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-times" style="color: rgb(225, 35, 35);"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="cursor: pointer;">
                                        <p>I took this photo this morning. What do you guys think?</p>
                                        <img class="img-fluid pad" src="../../public/dist/img/photo2.png" alt="Photo">
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <img class="img-circle" src="../../public/dist/img/user1-128x128.jpg"
                                                alt="User Image">
                                            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                            <span class="description">Shared publicly - 7:30 PM Today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-check" style="color: rgb(24, 183, 24);"></i>
                                            </button>
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-times" style="color: rgb(225, 35, 35);"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="cursor: pointer;">
                                        <p>I took this photo this morning. What do you guys think?</p>
                                        <img class="img-fluid pad" src="../../public/dist/img/photo2.png" alt="Photo">
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <img class="img-circle" src="../../public/dist/img/user1-128x128.jpg"
                                                alt="User Image">
                                            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                            <span class="description">Shared publicly - 7:30 PM Today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-check" style="color: rgb(24, 183, 24);"></i>
                                            </button>
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-times" style="color: rgb(225, 35, 35);"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="cursor: pointer;">
                                        <p>I took this photo this morning. What do you guys think?</p>
                                        <img class="img-fluid pad" src="../../public/dist/img/photo2.png" alt="Photo">
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <img class="img-circle" src="../../public/dist/img/user1-128x128.jpg"
                                                alt="User Image">
                                            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                            <span class="description">Shared publicly - 7:30 PM Today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-check" style="color: rgb(24, 183, 24);"></i>
                                            </button>
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-times" style="color: rgb(225, 35, 35);"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="cursor: pointer;">
                                        <p>I took this photo this morning. What do you guys think?</p>
                                        <img class="img-fluid pad" src="../../public/dist/img/photo2.png" alt="Photo">
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <img class="img-circle" src="../../public/dist/img/user1-128x128.jpg"
                                                alt="User Image">
                                            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                            <span class="description">Shared publicly - 7:30 PM Today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-check" style="color: rgb(24, 183, 24);"></i>
                                            </button>
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-times" style="color: rgb(225, 35, 35);"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="cursor: pointer;">
                                        <p>I took this photo this morning. What do you guys think?</p>
                                        <img class="img-fluid pad" src="../../public/dist/img/photo2.png" alt="Photo">
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>

                </div>
                <!-- /.content-wrapper -->

                <!-- ------------------------ Footer -----------------------------------------------------------   -->
                <%-include('../../footer.ejs')%>
    </div>

    <%-include('../../styleJs.ejs')%>
</body>

</html>