<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Apolis - Danh sách bài viết report</title>
    <%-include('../../boostrap.ejs')%>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <%-include('../../navBar.ejs')%>
            <!-- /.navbar -->
            <!-- ------------------------------- Main Sidebar Container -----------------------------------------------------------   -->
            <!-- Main Sidebar Container -->
            <%-include('../sidebarMenu.ejs')%>
                <!-- ------------------------ Content Wrapper. Contains page content -----------------------------------------------------------   -->

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <div class="container-fluid">
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <img class="img-circle" src="../../public/dist/img/user1-128x128.jpg"
                                                alt="User Image">
                                            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                            <span class="description">Shared publicly - 7:30 PM Today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-times" style="color: red;"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <p>I took this photo this morning. What do you guys think?</p>
                                        <img class="img-fluid pad" src="../../public/dist/img/photo2.png" alt="Photo">
                                        <span class="float-left text-muted mt-2">127 likes</span>
                                        <span class="float-left text-muted mt-2 ml-4">67 comment</span>
                                        <span class="float-left text-muted mt-2 ml-4">4 report</span>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer card-comments">
                                        <div class="card-comment">
                                            <!-- User image -->
                                            <img class="img-circle img-sm" src="../../public/dist/img/user3-128x128.jpg"
                                                alt="User Image">

                                            <div class="comment-text">
                                                <span class="username">
                                                    Maria Gonzales
                                                    <span class="text-muted float-right">8:03 PM Today</span>
                                                </span><!-- /.username -->
                                                It is a long established fact that a reader will be distracted
                                                by the readable content of a page when looking at its layout.
                                            </div>
                                            <!-- /.comment-text -->
                                        </div>
                                        <!-- /.card-comment -->
                                        <div class="card-comment">
                                            <!-- User image -->
                                            <img class="img-circle img-sm" src="../../public/dist/img/user4-128x128.jpg"
                                                alt="User Image">

                                            <div class="comment-text">
                                                <span class="username">
                                                    Luna Stark
                                                    <span class="text-muted float-right">8:03 PM Today</span>
                                                </span><!-- /.username -->
                                                It is a long established fact that a reader will be distracted
                                                by the readable content of a page when looking at its layout.
                                            </div>
                                            <!-- /.comment-text -->
                                        </div>
                                        <!-- /.card-comment -->
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <img class="img-circle" src="../../public/dist/img/user1-128x128.jpg"
                                                alt="User Image">
                                            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                            <span class="description">Shared publicly - 7:30 PM Today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-times" style="color: red;"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <p>I took this photo this morning. What do you guys think?</p>
                                        <img class="img-fluid pad" src="../../public/dist/img/photo2.png" alt="Photo">
                                        <span class="float-left text-muted mt-2">127 likes</span>
                                        <span class="float-left text-muted mt-2 ml-4">67 comment</span>
                                        <span class="float-left text-muted mt-2 ml-4">4 report</span>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer card-comments">
                                        <div class="card-comment">
                                            <!-- User image -->
                                            <img class="img-circle img-sm" src="../../public/dist/img/user3-128x128.jpg"
                                                alt="User Image">

                                            <div class="comment-text">
                                                <span class="username">
                                                    Maria Gonzales
                                                    <span class="text-muted float-right">8:03 PM Today</span>
                                                </span><!-- /.username -->
                                                It is a long established fact that a reader will be distracted
                                                by the readable content of a page when looking at its layout.
                                            </div>
                                            <!-- /.comment-text -->
                                        </div>
                                        <!-- /.card-comment -->
                                        <div class="card-comment">
                                            <!-- User image -->
                                            <img class="img-circle img-sm" src="../../public/dist/img/user4-128x128.jpg"
                                                alt="User Image">

                                            <div class="comment-text">
                                                <span class="username">
                                                    Luna Stark
                                                    <span class="text-muted float-right">8:03 PM Today</span>
                                                </span><!-- /.username -->
                                                It is a long established fact that a reader will be distracted
                                                by the readable content of a page when looking at its layout.
                                            </div>
                                            <!-- /.comment-text -->
                                        </div>
                                        <!-- /.card-comment -->
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <img class="img-circle" src="../../public/dist/img/user1-128x128.jpg"
                                                alt="User Image">
                                            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                            <span class="description">Shared publicly - 7:30 PM Today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-times" style="color: red;"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <p>I took this photo this morning. What do you guys think?</p>
                                        <img class="img-fluid pad" src="../../public/dist/img/photo2.png" alt="Photo">
                                        <span class="float-left text-muted mt-2">127 likes</span>
                                        <span class="float-left text-muted mt-2 ml-4">67 comment</span>
                                        <span class="float-left text-muted mt-2 ml-4">4 report</span>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer card-comments">
                                        <div class="card-comment">
                                            <!-- User image -->
                                            <img class="img-circle img-sm" src="../../public/dist/img/user3-128x128.jpg"
                                                alt="User Image">

                                            <div class="comment-text">
                                                <span class="username">
                                                    Maria Gonzales
                                                    <span class="text-muted float-right">8:03 PM Today</span>
                                                </span><!-- /.username -->
                                                It is a long established fact that a reader will be distracted
                                                by the readable content of a page when looking at its layout.
                                            </div>
                                            <!-- /.comment-text -->
                                        </div>
                                        <!-- /.card-comment -->
                                        <div class="card-comment">
                                            <!-- User image -->
                                            <img class="img-circle img-sm" src="../../public/dist/img/user4-128x128.jpg"
                                                alt="User Image">

                                            <div class="comment-text">
                                                <span class="username">
                                                    Luna Stark
                                                    <span class="text-muted float-right">8:03 PM Today</span>
                                                </span><!-- /.username -->
                                                It is a long established fact that a reader will be distracted
                                                by the readable content of a page when looking at its layout.
                                            </div>
                                            <!-- /.comment-text -->
                                        </div>
                                        <!-- /.card-comment -->
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <img class="img-circle" src="../../public/dist/img/user1-128x128.jpg"
                                                alt="User Image">
                                            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                            <span class="description">Shared publicly - 7:30 PM Today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-times" style="color: red;"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <p>I took this photo this morning. What do you guys think?</p>
                                        <img class="img-fluid pad" src="../../public/dist/img/photo2.png" alt="Photo">
                                        <span class="float-left text-muted mt-2">127 likes</span>
                                        <span class="float-left text-muted mt-2 ml-4">67 comment</span>
                                        <span class="float-left text-muted mt-2 ml-4">4 report</span>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer card-comments">
                                        <div class="card-comment">
                                            <!-- User image -->
                                            <img class="img-circle img-sm" src="../../public/dist/img/user3-128x128.jpg"
                                                alt="User Image">

                                            <div class="comment-text">
                                                <span class="username">
                                                    Maria Gonzales
                                                    <span class="text-muted float-right">8:03 PM Today</span>
                                                </span><!-- /.username -->
                                                It is a long established fact that a reader will be distracted
                                                by the readable content of a page when looking at its layout.
                                            </div>
                                            <!-- /.comment-text -->
                                        </div>
                                        <!-- /.card-comment -->
                                        <div class="card-comment">
                                            <!-- User image -->
                                            <img class="img-circle img-sm" src="../../public/dist/img/user4-128x128.jpg"
                                                alt="User Image">

                                            <div class="comment-text">
                                                <span class="username">
                                                    Luna Stark
                                                    <span class="text-muted float-right">8:03 PM Today</span>
                                                </span><!-- /.username -->
                                                It is a long established fact that a reader will be distracted
                                                by the readable content of a page when looking at its layout.
                                            </div>
                                            <!-- /.comment-text -->
                                        </div>
                                        <!-- /.card-comment -->
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <img class="img-circle" src="../../public/dist/img/user1-128x128.jpg"
                                                alt="User Image">
                                            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                            <span class="description">Shared publicly - 7:30 PM Today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-times" style="color: red;"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <p>I took this photo this morning. What do you guys think?</p>
                                        <img class="img-fluid pad" src="../../public/dist/img/photo2.png" alt="Photo">
                                        <span class="float-left text-muted mt-2">127 likes</span>
                                        <span class="float-left text-muted mt-2 ml-4">67 comment</span>
                                        <span class="float-left text-muted mt-2 ml-4">4 report</span>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer card-comments">
                                        <div class="card-comment">
                                            <!-- User image -->
                                            <img class="img-circle img-sm" src="../../public/dist/img/user3-128x128.jpg"
                                                alt="User Image">

                                            <div class="comment-text">
                                                <span class="username">
                                                    Maria Gonzales
                                                    <span class="text-muted float-right">8:03 PM Today</span>
                                                </span><!-- /.username -->
                                                It is a long established fact that a reader will be distracted
                                                by the readable content of a page when looking at its layout.
                                            </div>
                                            <!-- /.comment-text -->
                                        </div>
                                        <!-- /.card-comment -->
                                        <div class="card-comment">
                                            <!-- User image -->
                                            <img class="img-circle img-sm" src="../../public/dist/img/user4-128x128.jpg"
                                                alt="User Image">

                                            <div class="comment-text">
                                                <span class="username">
                                                    Luna Stark
                                                    <span class="text-muted float-right">8:03 PM Today</span>
                                                </span><!-- /.username -->
                                                It is a long established fact that a reader will be distracted
                                                by the readable content of a page when looking at its layout.
                                            </div>
                                            <!-- /.comment-text -->
                                        </div>
                                        <!-- /.card-comment -->
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <!-- Box Comment -->
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <img class="img-circle" src="../../public/dist/img/user1-128x128.jpg"
                                                alt="User Image">
                                            <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                                            <span class="description">Shared publicly - 7:30 PM Today</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="">
                                                <i class="fas fa-times" style="color: red;"></i>
                                            </button>
                                        </div>
                                        <!-- /.card-tools -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <p>I took this photo this morning. What do you guys think?</p>
                                        <img class="img-fluid pad" src="../../public/dist/img/photo2.png" alt="Photo">
                                        <span class="float-left text-muted mt-2">127 likes</span>
                                        <span class="float-left text-muted mt-2 ml-4">67 comment</span>
                                        <span class="float-left text-muted mt-2 ml-4">4 report</span>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer card-comments">
                                        <div class="card-comment">
                                            <!-- User image -->
                                            <img class="img-circle img-sm" src="../../public/dist/img/user3-128x128.jpg"
                                                alt="User Image">

                                            <div class="comment-text">
                                                <span class="username">
                                                    Maria Gonzales
                                                    <span class="text-muted float-right">8:03 PM Today</span>
                                                </span><!-- /.username -->
                                                It is a long established fact that a reader will be distracted
                                                by the readable content of a page when looking at its layout.
                                            </div>
                                            <!-- /.comment-text -->
                                        </div>
                                        <!-- /.card-comment -->
                                        <div class="card-comment">
                                            <!-- User image -->
                                            <img class="img-circle img-sm" src="../../public/dist/img/user4-128x128.jpg"
                                                alt="User Image">

                                            <div class="comment-text">
                                                <span class="username">
                                                    Luna Stark
                                                    <span class="text-muted float-right">8:03 PM Today</span>
                                                </span><!-- /.username -->
                                                It is a long established fact that a reader will be distracted
                                                by the readable content of a page when looking at its layout.
                                            </div>
                                            <!-- /.comment-text -->
                                        </div>
                                        <!-- /.card-comment -->
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrapper -->

                <!-- ------------------------ Footer -----------------------------------------------------------   -->
                <%-include('../../footer.ejs')%>
    </div>
    <%-include('../../styleJs.ejs')%>
</body>

</html>