<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Quản lý tài khoản học viên</title>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/apprroveCourse.css">
    <!-- Google Font: Source Sans Pro -->
    <%-include('../../boostrap.ejs')%>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="../../public/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60"
                width="60" />
        </div>

        <!-- Navbar -->
        <%-include('../../navBar.ejs')%>
            <!-- /.navbar -->
            <!-- ------------------------------- Main Sidebar Container -----------------------------------------------------------   -->
            <!-- Main Sidebar Container -->
            <%-include('../sidebarMenu.ejs')%>
                <!-- ------------------------ Content Wrapper. Contains page content -----------------------------------------------------------   -->

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1>Quản Lý Học Viên</h1>
                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>

                    <!-- Main content -->
                    <section class="content">

                        <!-- Default box -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Tài Khoản Bị Khoá</h3>
                            </div>
                            <div class="card-body p-0">
                                <table class="table table-striped projects">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%">
                                                #
                                            </th>
                                            <th style="width: 15%">
                                                Tên
                                            </th>
                                            <th style="width: 10%">
                                                Ảnh
                                            </th>
                                            <th style="width: 18%">
                                                Email
                                            </th>
                                            <th style="width: 30%">
                                                Lí do
                                            </th>
                                            <th class="text-center">
                                                Trạng thái
                                            </th>
                                            <th >
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                            Nguyễn Hoàng Long
                                            </td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <img alt="Avatar" class="table-avatar"
                                                            src="../../public/dist/img/avatar5.png">
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                haonglong@gmail.com
                                            </td>
                                            <td>
                                                Vi pham ki luat
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-danger">Khoá</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-secondary btn-sm" href="" data-toggle="modal" 
                                                data-target="#detailModal">
                                                    <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                                                </a>
                                                <a class="btn btn-success btn-sm" href="" data-toggle="modal"
                                                data-target="#lockModal">
                                                    <i class="fa-solid fa-lock-open" style="color: #f7f7f7;"></i>
                                                </a>
                                                <a class="btn btn-outline-danger btn-sm" href="" data-toggle="modal"
                                                data-target="#deleteModal">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                            Nguyễn Hoàng Long
                                            </td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <img alt="Avatar" class="table-avatar"
                                                            src="../../public/dist/img/avatar5.png">
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                haonglong@gmail.com
                                            </td>
                                            <td>
                                                Vi pham ki luat
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-danger">Khoá</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-secondary btn-sm" href="" data-toggle="modal" 
                                                data-target="#detailModal">
                                                    <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                                                </a>
                                                <a class="btn btn-success btn-sm" href="" data-toggle="modal"
                                                data-target="#lockModal">
                                                    <i class="fa-solid fa-lock-open" style="color: #f7f7f7;"></i>
                                                </a>
                                                <a class="btn btn-outline-danger btn-sm" href="" data-toggle="modal"
                                                data-target="#deleteModal">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                3
                                            </td>
                                            <td>
                                            Nguyễn Hoàng Long
                                            </td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <img alt="Avatar" class="table-avatar"
                                                            src="../../public/dist/img/avatar5.png">
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                haonglong@gmail.com
                                            </td>
                                            <td>
                                                Vi pham ki luat
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-danger">Khoá</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-secondary btn-sm" href="" data-toggle="modal" 
                                                data-target="#detailModal">
                                                    <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                                                </a>
                                                <a class="btn btn-success btn-sm" href="" data-toggle="modal"
                                                data-target="#lockModal">
                                                    <i class="fa-solid fa-lock-open" style="color: #f7f7f7;"></i>
                                                </a>
                                                <a class="btn btn-outline-danger btn-sm" href="" data-toggle="modal"
                                                data-target="#deleteModal">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                4
                                            </td>
                                            <td>
                                            Nguyễn Hoàng Long
                                            </td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <img alt="Avatar" class="table-avatar"
                                                            src="../../public/dist/img/avatar5.png">
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                haonglong@gmail.com
                                            </td>
                                            <td>
                                                Vi pham ki luat
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-danger">Khoá</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-secondary btn-sm" href="" data-toggle="modal" 
                                                data-target="#detailModal">
                                                    <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                                                </a>
                                                <a class="btn btn-success btn-sm" href="" data-toggle="modal"
                                                data-target="#lockModal">
                                                    <i class="fa-solid fa-lock-open" style="color: #f7f7f7;"></i>
                                                </a>
                                                <a class="btn btn-outline-danger btn-sm" href="" data-toggle="modal"
                                                data-target="#deleteModal">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </section>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrapper -->

                <!-- modal-detail  -->
                <div class="modal" id="detailModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Chi tiết học viên</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body text-center">
                                
                                <div class="row gap-4">
                                    <div class="col-lg-12">
                                        <img alt="Avatar" class="table-avatar"
                                            src="../../public/dist/img/avatar5.png">
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Tên học viên:</strong>
                                        <span>
                                            Nguyen Hoang Long
                                        </span>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Email:</strong>
                                        <span>
                                            haonglong@gmail.com
                                        </span>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Lí do:</strong>
                                        <span>
                                            Vi pham ki luat
                                        </span>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Trạng thái:</strong>
                                        <span>
                                            Khoá
                                        </span>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Khoá học tham gia:</strong>
                                        <address>
                                            cac khao hoc hien thi o day
                                        </address>  
                                    </div>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <a href=""> <button type="submit" class="btn btn-success">Mở khoá</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end-modal-detail -->

                <!-- modal-delete  -->
                <div class="modal" id="deleteModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Thông báo!</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Bạn có muốn xoá này không?
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger"
                                    data-dismiss="modal">Huỷ</button>
                                <a href=""> <button type="button" class="btn btn-success">Xoá</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end-modal-delete -->

                <!-- modal-lock  -->
                <div class="modal" id="lockModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Thông báo!</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Bạn có muốn mở khoá tài khoản này không?
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger"
                                    data-dismiss="modal">Huỷ</button>
                                <a href=""> <button type="button" class="btn btn-success">Khoá</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end-modal-lock -->

                <!-- ------------------------ Footer -----------------------------------------------------------   -->
                <%-include('../../footer.ejs')%>
    </div>

    <%-include('../../styleJs.ejs')%>
</body>

</html>